.navbar.navbar-default.navbar-static-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button' data-ng-init='navbarCollapsed = true' data-ng-click='navbarCollapsed = !navbarCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(data-ui-sref='home') Angular Starter Kit
