.jumbotron
  h1 Angular-boiler

  p
    | This is an opinionated starter template for crafting single-page web applications using Angular.js, Coffeescript, SCSS, Jade, Bootstrap, UI-Router, Font-Awesome and a few other carefully picked tools that help kick-start web app development. You can find the source code 
    a(href='https://github.com/larssondaniel/angular-boiler') on Github.
    |.